.blog-form {
  margin:25px;
  padding: 25px;
  font-family: 'Raleway', sans-serif;
  border-radius: 3px;
  text-align: center;
  background-color: #2EB2FF;
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.25), -12px 0 15px -4px rgba(0, 0, 0, 0.25);
}
.blog-title-box {
  border: none;
  margin: 10px 0px 25px 0px;
  width: 50%;
  border-radius: 3px;
  font-size: 15px;
  padding:5px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.blog-title-box:focus {
  outline: none;
}

.blog-body-box {
  margin: 10px 0px 25px 0px;
  width: 95%;
  border-radius: 3px;
  height: 200px;
  font-size: 15px;
  padding:5px 15px 5px 15px;
  font-family: 'Raleway', sans-serif;
}
.blog-submit {
  cursor: pointer;
  color:#00181D;
  border: none;
  background-color: #fff;
  ont-family: 'Raleway', sans-serif;
  padding:10px;
  border-radius:3px;
  margin-top:25px;
}
.blog-submit:hover {
  background-color: #00181D;
  color:#FFF;
}

.admin-options {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

button {
  cursor: pointer;
  color:#FF004D;
  border:1px solid #FF004D;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  padding:7px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px; 
}

button:hover {
  background-color: #FF004D;
  color:#FFF;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px; 
}