.blog-form {
  margin:25px;
  padding: 25px;
  border:1px solid black;
  font-family: 'Raleway', sans-serif;
  border-radius: 25px;
  text-align: center;
  background-color: #00CCFF;
}
.blog-title-box {
  border:1px solid black;
  margin: 10px 0px 25px 0px;
  width: 25%;
  border-radius: 25px;
  font-size: 15px;
  padding:5px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.blog-body-box {
  border:1px solid black;
  margin: 10px 0px 25px 0px;
  width: 95%;
  border-radius: 25px;
  height: 200px;
  font-size: 15px;
  padding:5px 15px 5px 15px;
  font-family: 'Raleway', sans-serif;
}
.blog-submit {
  cursor: pointer;
  color:#FF004D;
  border:1px solid #FF004D;
  background-color: #fff;
  font-family: 'Stalinist One', cursive;
  padding:10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px; 
}
.blog-submit:hover {
  background-color: #FF004D;
  color:#FFF;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px; 
}

.admin-options {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

button {
  cursor: pointer;
  color:#FF004D;
  border:1px solid #FF004D;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  padding:7px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px; 
}

button:hover {
  background-color: #FF004D;
  color:#FFF;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px; 
}