@import url('https://fonts.googleapis.com/css?family=Stalinist+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

Link {
  text-decoration: none;
}
/*

NAV

*/

.App-header {
  background-color:#00181D;
  padding: 50px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.nav-links-container {
  border: 2px solid #FF004D;
  border-radius: 10px;
}
.site-title {
  display: inline-flex;
}
.site-title h1{
  color:#00CCFF;
  font-family: 'Stalinist One', cursive;
}
.site-title h2{
  margin-top:15px;
  margin-left: -35px;
  color: #FF004D;
  font-family: 'Raleway', sans-serif;
  -ms-transform: rotate(30deg); 
  -webkit-transform: rotate(30deg);
}
.site-title h2:hover {
  animation: Logo-spin 2s infinite;
}
.nav-links {
  text-decoration: none;
  margin: 10px;
  color: #FF004D;
  padding:10px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.nav-links:hover {
  color:#FF004D;
  background-color: #00181D;
  border:1px solid #FF004D;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.active {
  color:#00181D;
  background-color: #FF004D;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/*

PAGE CONTENT

*/

.content-container{
  margin: 0px 100px 100px 100px;
  font-family: 'Raleway', sans-serif;
}

.page-title {
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

hr { 
    margin: 25px 0;
    height: 1px;
    border: 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#fff), to(#fff), color-stop(50%, #00181D));
}
/*

HOME

*/

.new-blog-header {
  cursor: pointer;
  text-align: center;
  margin-bottom: 50px;
  background-color: #FFF;
  color: #00CCFF;
  padding: 5px;
  margin: 10px 125px 10px 125px; 
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border:1px solid #00CCFF; 
}
.new-blog-header:hover {
  background-color: #00CCFF;
  color: #FFF;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.blog-container {
  color: #00181D;
  margin:15px;
  border:1px solid #00CCFF;
  padding: 15px;
  letter-spacing: 2.5px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px; 
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.blog-link .blog-container:hover {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px; 
  background-color: #00CCFF;
  color: #fff;
  cursor: pointer;
}
.blog-title {
  font-size: 30px;
  text-align: center;
  color: #FF004D; 
  font-family: 'Comfortaa', cursive;

}
/*

Form

*/
.blog-form {
  margin:25px;
  padding: 25px;
  border:1px solid black;
  font-family: 'Raleway', sans-serif;
  border-radius: 25px;
  text-align: center;
}
.blog-title-box {
  border:1px solid black;
  margin: 10px 0px 25px 0px;
  width: 25%;
  border-radius: 25px;
  font-size: 15px;
  padding:5px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.blog-body-box {
  border:1px solid black;
  margin: 10px 0px 25px 0px;
  width: 95%;
  border-radius: 25px;
  height: 200px;
  font-size: 15px;
  padding:5px 15px 5px 15px;
  font-family: 'Raleway', sans-serif;
}
.blog-submit {
  cursor: pointer;
  color:#FF004D;
  border:1px solid #FF004D;
  background-color: #fff;
  font-family: 'Stalinist One', cursive;
  padding:10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px; 
}
.blog-submit:hover {
  background-color: #FF004D;
  color:#FFF;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px; 
}

button {
  cursor: pointer;
  color:#FF004D;
  border:1px solid #FF004D;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  padding:7px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px; 
}

button:hover {
  background-color: #FF004D;
  color:#FFF;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px; 
}
/*

animations

*/

@keyframes Logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
